# Folders
__pycache__*
.vscode*
**/Figures/*
**/CSV/*
*_files/*
**/Data/*
**/Drops/*
Archive/*
**/*logs*/*
**/catboost_*/*
**/TensorBoardLog/*
**/DetectShips/*

# Archives
*.7z
*.zip

# Media Files
*.avi
*.mp4

# Documents
*.docx
*.doc
*.ppt
*.pptx
*.xls
*.xlsx

# MATLAB 
*App/
*.prj
*.fig
*.asv
*.m~
*.mat
*.mex*
# Python
*.ckpt
*.db
*.pck
*.pcl
*.pkl
*.pickle
*.pth
.ipynb_checkpoints*
*.npz
*.npy
*TMP*.ipynb
*TMP*.py
*TEMP*.ipynb
*TEMP*.py

# TensorBoard 
Report*.html
KaggleWhatsCooking.json
*tfevents*

*runs/*
*.pyc
*.pt
*.vscode
*runs
*.model
_build
_build/*
*Video*.png
*.pt
*.bin


*label_image*
